*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;    
    text-decoration: none;
}
body{
    background-color: goldenrod;
    padding: 40px;
}
.container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 500px;
    /* align-items: center; */
    justify-content: center;
    margin: auto auto;
    background: white;
}
#slackUserName{
    text-align: center;
    background: rgb(128, 62, 0);
    padding: 10px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
#slackDispalyImage{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: none;
    padding: 20px;
}
#slackDispalyImage img{
    border-radius: 50%;
    object-fit: contain;
}
#myTrack{
    text-align: center;
    padding: 35px auto;
    /* margin: 20px; */
    font-size: 25px;
}
#githubURL{
    display: flex;
    justify-content: center;
    padding-block-start: 0.5em
   
}
#githubURL a{
   color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
#currentDayOfTheWeek{
    /* text-align: center; */
}
#currentUTCTime, #currentDayOfTheWeek{
    font-size: large;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
#currentUTCTime{
    padding-bottom: 40px;
}